@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model SistemaFacturacionWeb.Models.ViewModels.RegistrarUsuarioViewModel
@{
    Layout = "~/Views/Shared/_LayoutAcceso.cshtml";
    ViewData["Title"] = "Crea tu usuario";
}

<div class="flex flex-col mt-10 items-center">
    <form class="bg-teal-50 w-full md:w-2/3 xl:w-1/3 py-5 px-5 mb-10 lg:mb-5 shadow-lg rounded-md" method="post" asp-action="Registrar">
        <div class="mb-5">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" placeholder="Tu Email" class="border-2 w-full p-2 mt-2 rounded-md">
            <span asp-validation-for="Email" class="text-red-400"></span>
        </div>
        <div class="mb-5">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" placeholder="Tu Password" class="border-2 w-full p-2 mt-2 rounded-md">
            <span asp-validation-for="Password" class="text-red-400"></span>
        </div>
        <div class="mb-5">
            <label asp-for="ConfirmPassword" class="control-label"></label>
            <input asp-for="ConfirmPassword" placeholder="Repite tu Password" class="border-2 w-full p-2 mt-2 rounded-md">
            <span asp-validation-for="ConfirmPassword" class="text-red-400"></span>
        </div>
        <div class="flex justify-center">
            <input type="submit" value="Registrarse"
                class="text-gray-200 bg-teal-600 hover:bg-gray-900 font-semibold uppercase tracking-wider transition-all duration-500 px-5 py-2  mb-5 rounded-md  cursor-pointer">
        </div>
        <p class="text-teal-600 hover:text-teal-700 font-bold px-5 text-center">
            @Html.ActionLink("¿Ya tienes una cuenta? Inicia Sesión", "Login", "Access")</p>
    </form>
</div>