@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_LayoutErrorNotFound.cshtml";
}
<div class="container mx-auto px-4 py-2">
    <h1 class="text-center text-3xl uppercase bold tracking-wider">
        Error
    </h1>

    <div class="text-center">
        <p class="my-3"> Elemento no encontrado</p>
        <p class="py-2 text-teal-600 hover:text-teal-700 font-bold">
            @Html.ActionLink("Regresar a la lista", "Index",
            "Usuario")
        </p>
    </div>
</div>